!!!
%html
  %head
    %title Expense

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body

    .container
      - {info: notice, danger: alert}.each do |key, val|
        - if val
          %p.alert.alert-dismissible{class: "alert-#{key}"}
            %button.close{type: 'button', data: {dismiss: 'alert'}} &times;
            = val

      %nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
        .container-fluid
          .navbar-header
            %a.navbar-brand{href: web_expenses_path}
              %span.glyphicon.glyphicon-tasks
              Expense

          .collapse.navbar-collapse
            %ul.nav.navbar-nav

            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li
                  %a{href: '', data: {toggle: 'modal', target: '#api-token-modal'}}
                    %span.glyphicon.glyphicon-cog
                    Get API Token
                %li
                  %a{href: destroy_user_session_path, data: {method: :delete}}
                    %span.glyphicon.glyphicon-log-out
                    Sign Out
              - else
                %li
                  %a{href: new_user_registration_path}
                    %span.glyphicon.glyphicon-collapse-up
                    Sign Up
                %li
                  %a{href: new_user_session_path}
                    %span.glyphicon.glyphicon-log-in
                    Sign In

      = yield

    - if user_signed_in?
      #api-token-modal.modal.fade{tabindex: -1, role: 'dialog', data: {bind: 'with: expenseModal'}}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
              %h4.modal-title Api Token

            .modal-body
              %center
                %p Authenticate via the API by passing the following token with the "X-ApiToken" header:

                %code= current_user.api_token

            .modal-footer
              %button.btn.btn-default{data: {dismiss: 'modal'}}
                %span.glyphicon.glyphicon-remove
                Close
